.homeContainer {
  width: 100%;
  display: flex;
  
  > .ant-row {
    width: 100%;
  }


  .logoContainer {
    display: flex;
    justify-content: center;
  }

  .titleContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 2em;
    text-align: center;
  }

  .btnContainer {
    display: flex;
    justify-content: center;
    button{ margin-bottom: 1em;}

  }
}