.homeContainer {
  // height: 100%;
  width: 100%;
  display: flex;


  .logoContainer {
    display: flex;
    justify-content: center;
  }

  .titleContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 2em;
  }

  .btnContainer {
    display: flex;
    justify-content: center;
  }
}