.confirmContainer {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
 
      & :first-child {

      margin-right: 1.55em;

    }
  }
}